@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-size: 2rem; */
  text-align: center;
  font-family: "VT323", monospace;
  text-transform: capitalize;
}

#level {
  background-color: black;
  color: white;
  font-size: 40px;
  border-radius: 10px;
  margin-top: 30px;
}

.choose {
  margin: auto;
  margin-top: 50px;
  font-size: 3vw;
  /* position: absolute; */
  position: absolute;
  display: block;
  /* background-color: rgba(250, 235, 215, 0.336); */
  width: fit-content;
  height: fit-content;
  color: rgb(255, 255, 255);
  top: 20rem;
  left: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.342);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  
}




#game {
  margin-top: 10vh;
}

.vs img {
  width: 10vw;
  /* margin-top: 200px ; */
  display: inline-block;
  margin: auto;
  margin-top: 80px;
}

.img {
  /* align-items: center; */
  text-align: center;
}

.vs {
  align-items: center;
  margin: auto;
  display: block;
}

.gameinfo {
  display: block;
}

body {
  background: linear-gradient(rgb(0, 0, 0), grey, rgb(255, 255, 255));
}

#lifei,
.lifei {
  position: relative;
  top: 29%;
  font-size: 2rem;
}

#mobimg,
#compmobimg {
  width: 120px;
  height: 231px;
  display: inline;
  align-self: center;
  margin: auto;
  display: block;
  margin-top: 20px;
}

#compmobimg {
  /* transform: scaleX(-1); */
  width: fit-content;
}

.life {
  background-image: url("img/mobs/life.png");
  /* display: inline; */
  background-repeat: no-repeat;
  background-position: center;
  width: 95px;
  height: 97px;
  text-align: center;
  display: block;
  /* margin: auto; */

  top: 0;
}

.gametools {
  display: block;

  width: fit-content;

  margin: auto;
}

/* .life{ */
/* text-align: center; */
/* display: inline; */
/* align-items: center; */
/* } */

#playerimg,
#computerimg {
  display: block;
  /* align-items: center; */
}

#player,
#computer {
  /* background-color: rgb(24, 78, 78); */
  width: 200px;
  align-items: center;
  /* overflow-y: hidden; */
  margin: 5vw;
  margin-top: 0;
}

#computer {
  margin-left: 0;
}

#player {
  margin-right: 0px;
}

#mobtool {
  margin: auto;
}

.tools {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.116);
  width: 50px;
  height: 50px;
  padding: 4px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
}

.tools img {
  /* display: inl?ine; */
  width: 50px;
}

#computer {
  float: right;
}

#logo {
  margin: auto;
  width: 300px;
  display: block;
}

#player {
  float: left;
}

#computerimg .gametools,
.gametools #mobtool {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .tools,
  .tools img {
    width: 30px;
    height: 30px;
  }
  #mobimg,
  #compmobimg {
    width: 60px;
    height: 115px;
    margin: 0;
    margin: 0px;
  }

  #player,
  #computer {
    width: fit-content;
    height: fit-content;
    margin: 0;
    /* margin-left: 0; */
    /* left: 0; */
  }

  .life {
    margin: 0px;
  }
}
